<div class="flex justify-end mb-2">
 
    <button  *permission="[role.Admin]" nz-button nzType="primary" (click)="onCreate()">Create</button>
  
</div>
<div class="flex flex-wrap gap-4">
  @for(course of courses();track course.id){
  <app-course-card

    [course]="course"
  >
  <div class="flex gap-2" actions>
    <button (click)="viewDetails(course)" class="mx-auto block" nz-button>
      View Course
    </button>
    <button (click)="onEdit(course)" class="mx-auto block" nz-button>
      Edit Course
    </button>
  </div>
 
  </app-course-card
  >}
</div>
