@if(course(); as course) {
  <nz-card 
    class="max-w-sm rounded-lg shadow-lg overflow-hidden transition-transform transform hover:scale-105 bg-white" 
    [nzBordered]="false" 
    [nzHoverable]="true"
  >
    <div class="p-4">
      <div class="text-lg font-bold text-gray-800">{{ course.title }}</div>
      <p class="mt-2 text-sm text-gray-600 line-clamp-3">
        {{ course.description }}
      </p>

\      <div class="mt-4">
        @for(schedule of course.schedules; track schedule.id) {
          <div class="mb-2 p-2 bg-gray-50 rounded-md">
            <div class="flex justify-between items-center">
              <span class="text-sm font-medium text-gray-700">
                {{ week[schedule.dayOfWeek] }}
              </span>
              <nz-tag [nzColor]="schedule.type === EventType.Lecture ? 'blue' : 'green'">
                {{ schedule.type }}
              </nz-tag>
            </div>
            <div class="text-xs text-gray-600 mt-1">
              {{ schedule.startTime | date: 'hh:MM' }} - {{ schedule.endTime| date: 'hh:MM' }}
              <span class="ml-2">Room {{ schedule.roomNumber }}</span>
            </div>
          </div>
        }
      </div>

      <div class="mt-4 flex items-center space-x-4">
        <div 
          class="h-12 w-12 rounded-full bg-gray-200 flex items-center justify-center text-gray-500 font-bold text-xl"
        >
          {{ course.professor.firstName[0] }}{{ course.professor.lastName[0] }}
        </div>
        <div>
          <div class="text-sm font-medium text-gray-800">
            {{ course.professor.firstName }} {{ course.professor.lastName }}
          </div>
          <div class="text-xs text-gray-500">{{ course.professor.email }}</div>
        </div>
      </div>
    </div>
    <div>
      <button (click)="viewCourse()" class="mx-auto block" nz-button>
        View Details
      </button>
    </div>
  </nz-card>
}